.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 28px;
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  background: #ffffff;
  display: flex;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}
.image-container {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.card:hover img{
  transform: scale(1.05);
}
h3{
  font-size: 17px;
  font-weight: 600;
  margin: 8px 0;
  min-height: 48px;
}
p {
  font-size: 14px;
  color: #666;
  flex-grow: 1;
}
.price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #111;
}

.rating {
  color: #f5b50a;
  font-weight: 600;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}
.open-btn {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}
.open-btn:hover {
  background: #f3f3f3;
}
